<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Booking Halls</title>
   <!-- Favicon -->
 <link rel="icon" href="./images/Halls.png">

 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></head>
   

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="CSS/Styles_BookingHalls.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px;height: 20px;">

        <a class="navbar-brand" href="">The Club</a>
        <p class="TitleP">Booking Halls in Our Club</p>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      </nav>


      <!-- Title -->


  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="form-row">
        <div class="form-group col-md-2">
          <label for="inputCity">Member ID</label>
          <input type="text" class="form-control" id="ID"  >
        </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="hallType">Hall Types</label>
            <select id="hallType" class="form-control" >
                <% for(var i=0; i < halls.length; i++) { %>
                    <option value=<%=halls[i].H_ID%>><%=`${halls[i].Type}`%></option>
                <% } %>    
            </select>
          </div>
          
          <main class="form-group col-md-2">
            <div class="row" >
                <div class="col">
                  <label for="day">Date</label>
                    <input data-date-format="dd/mm/yyyy" type="text" id="datepicker" >
                </div>
            </div>
        </main>
        </div>

      <div>
      <button class="btn btn-primary" type="submit" style="
          margin-top: 10px;
          padding-bottom: 6px;
          margin-bottom: 230px;
      " id="Book">Book Hall</button>
    </div>

    </form>
  </section>
  <!-- Footer -->

  <footer id="footer">

    <p>IT Contacts</p>
    <p>01010827662|01000762239|01010390616|01277047562 </p>
    <p style="
     margin-bottom: 0px;
 ">© Copyright 2022 The Club</p>
    </div>
  </footer>
  

  <script>
    
    function UpdateHalls() {
      const idElement = document.getElementById("ID")
      const text = idElement.value

      const DayElement = document.getElementById("datepicker")
      const day = DayElement.value

      const hallTypeElement = document.getElementById("hallType")
      const hallType = hallTypeElement.value

      console.log({text,day,hallType})
      if (text) {
        fetch(`http://localhost:5000/bookhall` , {
            method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            
            ID: text,
            hallType:hallType,
            datepicker: day


          })
        } ).then(async (res) => {
          alert("Response Submitted")
        }).catch(err => {
          alert("Submission Failed")
          console.log(err)
        })
      } else {
        alert("Enter the ID")
      }
    }
    
    
    
    const button = document.getElementById("Book")
    button.addEventListener("click", UpdateHalls)
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script type="text/javascript">
    $('#datepicker').datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
    });
    $('#datepicker').datepicker("setDate", new Date());
</script>



</body>

</html>
