<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Register</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Zen+Dots&display=swap" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="Css/Styles_Register.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark" style="padding-bottom: 0px;height: 20px;">

        <a class="navbar-brand Name" href="">The Club</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
          <span class="navbar-toggler-icon"></span>
        </button>
        <p class="TitleP">Subscribe in a Sport</p>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

      </nav>


      <!-- Title -->


  </section>


  <!-- Features -->

  <section class="white-section" id="features">

    <div class="form-row">
        <div class="form-group col-md-2  firstInput">
          <label for="inputCity">Member ID</label>
          <input type="text" class="form-control" id="ID"  >
        </div>
        
        </div>
 
        <div class="form-row">

          <div class="form-group col-md-2 ">
            <label for="Sports_Type">Sports Type</label>
            <select id="Type" name="Sports_Type" class="form-control" placeholder="Sports_Type" required>
         
         <!-- for loop code start -->
         <% for(var i=0; i < type.length; i++) { %>
          <option value=<%=type[i].Type%>><%=`${type[i].Type}`%></option>
          <% } %>
         <!-- for loop code end -->
         
              </select>
          </div>


        </div>
        <div class="form-row">
          <div class="form-group col-md-2  ">
            <label for="inputCity">Schedule</label>
            <select id="schedule" class="form-control" >
             
            </select>
          </div>
          </div>
  
        <button id="button" class="btn btn-primary register" type="submit" style="
          margin-top: 10px;
          padding-bottom: 6px;
          margin-bottom: 140px;
      ">Register To Sport</button>


    </form>
  </section>
  <!-- Footer -->

  <footer id="footer">

    <p>IT Contacts</p>
    <p>01010827662|01000762239|01010390616|01277047562 </p>
    <p style="
     margin-bottom: 0px;
 ">© Copyright 2022 The Club</p>
    </div>
  </footer>
  
  <script>
    
    function Applysport() {
      const text = document.getElementById("ID").value
      

      const Type = document.getElementById("Type").value
     

      const schedule = document.getElementById("schedule").value



      
      if (text) {
        fetch(`http://localhost:5000/applysport` , {
            method: "POST",
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            
            ID: text,
            Type:Type,
            schedule: schedule,


          })
        } ).then(async (res) => {
          alert("Response Submitted")
        }).catch(err => {
          alert("Submission Failed")
          console.log(err)
        })
      } else {
        alert("Enter the ID")
      }
    }
    function getschedule()
    {
        const type = document.getElementById("Type").value
        fetch(`http://localhost:5000/ShowSportsSchedule/${type}`).then(async (res) => {
      const schedule = await res.json()
     
                 const select = document.getElementById("schedule")
             const options=schedule[0]
              select.innerHTML = ''
               for (var i = 0; i <  options.length; i++) {
              var option = document.createElement("option");
              option.text = options[i].Schedule;
              option.value = options[i].Schedule;
              select.appendChild(option)
           }    


        
    })

   }
    
    
    document.getElementById("Type").addEventListener("click",getschedule);
    const button = document.getElementById("button")
    button.addEventListener("click", Applysport)
    </script>

</body>

</html>